body {
    background-image: url("/assets/img/backgrounds/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    background-attachment: fixed; 
    min-height: 150px;
    padding-top: 5vh;
    font-size: 100%;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw;
    margin: 0 auto;
}

h1 {
    color: rgb(0, 213, 255);
    background-color:rgba(0, 41, 137, 0.614);
    border: 0.25vh solid rgb(0, 213, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
}

button {
    color: rgb(0, 213, 255);
    background-color:rgba(0, 41, 137, 0.614);
    border: 0.25vh solid rgb(0, 213, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#login-button:hover {
    background-color:rgba(137, 43, 226, 0.687);
    cursor: pointer;
}

input {
    color: rgb(0, 213, 255);
    background-color:rgba(0, 41, 137, 0.614);
    border: 0.25vh solid rgb(0, 213, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2vh;
    width: 40%;
}
form {
    color: rgb(0, 213, 255);
    background-color:rgba(0, 41, 137, 0.614);
    border: 0.25vh solid rgb(0, 213, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50vw;
}

p {
    color: rgb(0, 213, 255);
    background-color:rgba(0, 41, 137, 0.614);
    border: 0.25vh solid rgb(0, 213, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50vw;
}

a {
    color: rgb(0, 213, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

a:hover {
    color: rgba(137, 43, 226, 0.687);
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.itemCard {
    color: rgb(0, 213, 255);
    background-color:rgba(0, 41, 137, 0.614);
    border: 0.25vh solid rgb(0, 213, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80vw;
}

.itemCard img {
    max-width: 100%;
    object-fit: contain;
}